@model FirstChallenge.Models.ComicBook 

@{
    ViewBag.Title = "Detail";
}

@{ var text = String.Format("Details About {0} #{1}", Model.ComicTitle, Model.EpisodeNumber); }

<div>
    <h2>@text</h2>
    <h3>Episode Title: @Model.EpisodeTitle</h3>
    
    @{ var characters = Model.Characters.Select(p => p.Name).ToArray();
        var charactersString = String.Join(",", characters);}
        
    <h4>Starring: @charactersString</h4>
</div>
<hr />
<p>    
    @Html.ActionLink("Back to All Comics", "Index")
</p>
